<!DOCTYPE html>
<html lang="en">
<head>
	<title>GeoMap</title>	
	{% load staticfiles %}

	<meta charset="utf-8">
	<!--<meta http-equiv="X-UA-Compatible" content="IE=edge"> !-->
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	{% load bootstrap3 %}
	{% bootstrap_css %}
	{% bootstrap_javascript %}	


	<style>
		body{
			padding-top: 50px;
			background-image: url('{{STATIC_URL}}geomap/images/world_map.gif');
			background-size: 100%;
			background-repeat: no-repeat;
		}
		.nvbspace {padding: 10px; border-radius: 15px;}
		.helloSt {color: white;}
	</style>

	{% block headblock %}
	{% endblock %}


</head>

<body>
    <header class = "navbar navbar-inverse navbar-fixed-top" id="ajax_reload">
	<div class = "container">
	    <div class="pull-right"
		{% if not user.is_authenticated %} style="margin-top:-3px;" {%else%} style="margin-top:5px;" {% endif %}>
	     {% if not user.is_authenticated %}
		<script src="{% static 'geomap/js/login.js' %}"></script>
		<form role="form" id="login" class="unauthorized">
		  <div class="modal-body">
		   {% csrf_token %}
		   {% if login_errors %}
		      <div class="dropdown open pull-right">
		   {% else %}
		      <div class="dropdown pull-right">
		   {% endif %}
			  <button class="btn btn-primary btn-sm dropdown-toggle" 
					type="button" data-toggle="dropdown">Log In
			  		<span class="caret"></span></button>
				  <ul class="dropdown-menu nvbspace">

				    {% if login_errors %}
				      <li>
					<div class="alert alert-danger fade in">
					 <ul>
					  {% for error in login_errors %}
					    <li>{{ error }}</li>
					  {% endfor %}
					 </ul>
					</div>
				      </li>
				    {% endif %}

				    <li class="dropdown-header"><font color="black"><b>login</b></font></li>
				    <li>
					<font color="black">
						<input type="text" name="username" value=""  id="username"/>
					</font>
				    </li>
				    <li class="dropdown-header"><font color="black"><b>password</b></font></li>
				    <li>
					<font color="black">
						<input type="password" name="password" value="" id="password"/>
					</font>					
				    </li>
				    <p>
				    <li align="center">
					<b><input class="btn-success" type="submit" value="submit"/></b>
				    </li>
				    <li class="divider"></li>
				    <li align="center">
					<a href="{% url 'register' %}" class="btn-primary btn-sm"><b>Sign Up</b></a>
				    </li>
				    <li class="divider"></li>
				    <li align="center">
					<a href="{% url 'reset' %}" class="btn-warning btn-sm">
					<b>Password reset</b></a>
				    </li>
				  </ul>
		      </div>
		  </div>
		</form>
		{% endif %}
		<div {% if not user.is_authenticated %} class='authorized' style='display: none;' {%endif %}>
			<h4><span class="helloSt">Hello,&nbsp;
				<span id="user_name">{% if user.is_authenticated %} {{ user.first_name }} {% endif %}</span>
			</span>
			&nbsp;<a href="{% url 'logoutview' %}" class="btn-primary btn-sm"><b>Logout</b></a>
</h4>
		</div>
	    </div><!-- End navbar input-->


	    <div class ="navbar-header">
		<button type = "button" class= "navbar-toggle" data-toggle = "collapse" data-target = "#dropdown">
		    <span class = "sr-only">Toggle navigation</span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		</button>

		<a href="{% url 'index' %}" class ="navbar-brand">
			<font color=white><b>GeoMap</b></font>
		</a>
	    </div><!-- End Navbar Header-->

	    <div class="collapse navbar-collapse" id = "dropdown">
		
		<ul class = "nav navbar-nav navbar-left" role = "navigation">
		 <li {% if not user.is_authenticated %} class="authorized" style="display: none;" {% endif %} >
			<a href="{% url 'profile' %}">
				<font color=darkorange><b>Profile</b></font>
			</a>
		 </li>
		<li {% if not user.is_authenticated %} class="authorized" style="display: none;" {% endif %} >
			<a href="{% url 'places' %}">
				<span class="glyphicon glyphicon-globe" style="color:#2eb8b8"></span>
				<font color=#e5e5ff><b>Locations</b></font>
			</a>
		</li>

		    <li><a href="#"><font color=#e5e5ff><b>About</b></font></a></li>
		 
		</ul>
	    </div><!-- End Nav Contents -->


	</div><!-- End Container -->
    </header>




	{% block content %} <!--> IT'S BETTER NOT TO USE THIS BLOCK )) <!-->
	{% endblock %}
	{% block footer %}
	{% endblock %}
</body>
</html>
