{% extends 'geomap/base.html' %}

{% block headblock %}

<style>
	.countryHead {
		background-color: rgba(51, 51, 51, 0.5);
		text-align: center;
		color: black;
	}

	.panel {
		background-color: rgba(0,26,26,0.2);
	}

	.ctHead {
		background-color: rgba(51, 51, 51, 0.5);
		text-align: center;
	}

	.list-group-item {
		background-color: rgba(148, 184, 184, 0.3);
	}
	a {color: rgb(0, 85, 128);}


</style>

{% endblock %}


{% block content %}
  <div class="panel">

    <div class="panel-heading countryHead">
	<h1>{{country}}</h1>
    </div>

    <div class="panel-body row">
	<ul class="list-group col-xs-6 col-md-4">
	  <li class="list-group-item ctHead" data-toggle="tooltip" title="Check city to see trends">
	    <font color=black>
		<strong><i><h3>Places</h3><i></strong>
	    </font>
	  </li>
	  {% for ct in placetrends %}
	   <a href="#{{ct.place_tag}}" data-toggle="collapse">
	    <li class="list-group-item" align=center>
		<strong><h4>{{ ct.place }}</h4></strong>
	    </li>
	   </a>
	  {% endfor %}
	</ul>


	<ul class="list-group col-xs-12 col-md-8">
	  <li class="list-group-item ctHead">
	    <font color=black>
		<strong><i><h3>Trends</h3><i></strong>
	    </font>
	  </li>
	{%comment%}
	  <li  class="list-group-item">

	    <div class="btn-toolbar" role="toolbar" aria-label="...">
		<div class="btn-group btn-default" role="group" aria-label="...">Some data</div>
	    </div>
	 
	  </li>
	{%endcomment%}

	  {% for ct in placetrends %}
	    <div id="{{ct.place_tag}}" class="collapse">
	      <ul class="list-group">
		<li class="list-group-item list-group-item-success" align="center">
			<h3>{{ ct.place }}</h3>
		</li>
		{% for trend in ct.trends %}
		  <li class="list-group-item" align="center">
			<strong>{{ trend.0 }}</strong>
			{% comment %}			
			<span class="badge">
			{% if not trend.1 %}
				n/a
			{% else %}
				{{ trend.1 }}
			{% endif %}
			</span>
			{% endcomment %}
		  </li>
		{% endfor %}
	      </ul>
	    </div>
	  {% endfor %}
	</ul>
    </div>


  </div>
{% endblock %}
