{% extends 'geomap/base.html' %}

{% block headblock %}

<style>
	.countryHead {
		background-color: rgba(51, 51, 51, 0.5);
		text-align: center;
		color: black;
	}

	.panel {
		background-color: rgba(0,26,26,0.2);
	}

	.ctHead {
		background-color: rgba(51, 51, 51, 0.5);
		text-align: center;
	}

	.list-group-item {
		background-color: rgba(148, 184, 184, 0.3);
	}
	a {color: rgb(0, 85, 128);}

	.glyphSt {
		color:#009900;
		
	}
	.placeTagSt {
		color:#993399;
		font-weight: bold;
	}


</style>

{% endblock %}


{% block content %}
  <div class="panel">

    <div class="panel-heading countryHead">
	<h1>{{country}}</h1>
    </div>

    <div class="panel-body row">
	<ul class="list-group col-xs-6 col-md-4">
	  <li class="list-group-item ctHead" data-toggle="tooltip" title="Check city to see trends">
	    <font color=black>
		<strong><i><h3>Места</h3><i></strong>
	    </font>
	  </li>
	  {% for ct in placetrends %}
	   
	    <li class="list-group-item" align=center>
		<a href="#{{ct.place_tag}}" data-toggle="collapse">
		  <strong><h4>{{ ct.another_name }}</h4></strong>
		</a>
		
	    </li>
	  {% endfor %}
	</ul>


	<ul class="list-group col-xs-12 col-md-8">
	  <li class="list-group-item ctHead">
	    <font color=black>
		<strong><i><h3>Темы</h3><i></strong>
		<h5>Наиболее популярные темы за последние сутки</h5>
	    </font>
	  </li>

	  {% for ct in placetrends %}
	    <div id="{{ct.place_tag}}" class="collapse">
	      <ul class="list-group">
		<li class="list-group-item list-group-item-success" align="center">
		  <div class="row">
		    <div class="col-sm-6 col-md-4">
			
			<a href="{% url 'placehistory' place=ct.place woeid=ct.woeid %}"
				data-toggle="tooltip" title="Просмотреть историю!">
				<h3><span class="glyphicon glyphicon-cloud glyphSt"></span></h3>
			</a>
			
		    </div>
		    <div class="col-sm-6 col-md-4" align="center">
			<div class="placeTagSt"><h3>{{ ct.another_name }}</h3></div>
		    </div>
		    <div class="col-sm-6 col-md-4">
		      <div id="{{ct.place_tag}}" class="collapse in">
			<a href="#{{ct.place_tag}}" data-toggle="collapse">
				<h3><span class="glyphicon glyphicon-arrow-up"></span></h3>
			</a>
		      </div>
		    </div>
		  </div>
		</li>
		{% for trend in ct.trends %}
		  <li class="list-group-item" align="center">
			<strong>{{ trend.name }}</strong>
			{% comment %}	
			<span class="badge">
				{% if not trend.volume %}	n/a
				{% else %}	{{ trend.volume }}
				{% endif %}
			</span>
			{% endcomment %}
		  </li>
		{% endfor %}
	      </ul>
	    </div>
	  {% endfor %}
	</ul>
    </div>


  </div>
{% endblock %}
