{% extends "geomap/base.html" %}
{% load staticfiles %}
{% load leaflet_tags %}
{% load geojson_tags %}

{% block headblock %}
	{% leaflet_js %}
	{% leaflet_css %}

	<meta charset=utf-8 />
	<title>GeoMap</title>
	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
	<script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
	<link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
	<style>
		body { margin:0; padding:0;}
		#map { position:absolute; top:0; bottom:0; width:100%; }
	</style>

{% endblock %}


{% block content %}
	<div id='map'></div>
	<script>
		L.mapbox.accessToken = 'pk.eyJ1IjoiYmFraXQiLCJhIjoiY2ltZHMzbWN'+
			'iMDAyOHdka2toYzdkNTc4ciJ9.5nYeNUZPv2ohnoYWknNIpw';

		var mapboxTiles = L.tileLayer('https://api.mapbox.com/v4/bakit.dc14b0c3/'+
			'{z}/{x}/{y}.png?access_token=' + L.mapbox.accessToken, {
    			attribution: '© <a href="https://www.mapbox.com/map-feedback/'+
			'">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'});

		var map = L.map('map', { zoomControl: false })
    			.addLayer(mapboxTiles)
    			.setView([30.0, 70], 4);
		new L.Control.Zoom({ position: 'bottomright' }).addTo(map);
	</script>

{% endblock %}






