{% extends "geomap/base.html" %}
{% load staticfiles %}
{% load leaflet_tags %}

{% block headblock %}
<style>
	table {
		border-spacing: 10px; 
		border-collapse: separate;
		text-align: right;
	}

	.valign {
		float: none;
		display: inline-block;
		vertical-align: middle;
	}
</style>
{% endblock %}


{% block content %}
	<div class="jumbotron">
	 <div class="container">
	  <div class="row">
	   <div class="col-xs-2 col-md-6 col-md-offset-2">
		<div class="container">
		 <form method="post">
		  {% csrf_token %}
		  <table>
			<tr><td><h2>Восстановление пароля</h2></td></tr>
			<tr><td>Почтовый адрес:</td><td><input type="text" name="email" id="email" value=""/></td></tr>
			<tr><td></td><td>
				<b><input type="submit" class="btn-success" value="Отправить"/></b>
			</td></tr>
		  </table>
		 </form>
		</div>
	   </div>
	  </div>
	 </div>
	</div>

{% endblock %}






