{% extends 'geomap/base.html' %}

{% block headblock %}
	<style>

	.countryHead {
		background-color: rgba(51, 51, 51, 0.5);
		text-align: center;
		color: black;
	}
	.panel {
		background-color: rgba(0,26,26,0.2);
	}

	.list-group-item {
		background-color: rgba(148, 184, 184, 0.3);
	}
	</style>


{% endblock %}

{% block content %}
 <div class="panel">
    <div class="panel-heading countryHead">
	<h1>Мировые тренды</h1>
	<h5>Наиболее популярные темы за последние сутки</h5>
    </div>
    <div class="panel-body">
	<ul class="list-group">
	     {% for trend in trends.trends %}
	          <li class="list-group-item list-group-item-success" align="center">
		    <a href="{% url 'trendinfo' trendid=trend.id trendname=trend.name %}">
	              <strong>{{ trend.name }}</strong>
		    </a>
	          </li>
	      {% endfor %}
	</ul>
    </div>
 </div>

{% endblock %}
